.title {
    text-align: center;
}



body {
    background-color: royalblue;
    flex-direction: column;
}



img {
    
    width: 40%;
}

.journal__box {
    display: flex;
    background-color: slategrey;
    border: 1px dotted red;
    align-items: baseline;
}

footer {
    display: flex;
    align-items: baseline;
}